<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.js入门程序</title>
</head>
<body>
<!--实现在body区域显示一个传智播客名称-->
<div id="app">
    <!--{{name}}-->
    <!--v-bind只能把数据对象绑定在dom对象任意属性中，不能双向绑定-->
    <!--<a v-bind:href="url">可缩写为<a :href="url">-->
    <a v-bind:href="url">
        <!--解决插值表达式闪烁使用v-text-->
        <span v-text="name"></span>
    </a>
    <input type="text" v-model="num1"/>+
    <input type="text" v-model="num2"/>=
    <span v-text="result"></span>
    <!--{{Number.parseInt(num1)+Number.parseInt(num2)}}-->
    <button v-on:click="change">计算</button>
</div>
</body>
<!--<script src="vue.min.js"></script>-->
<!--<script src="build.js"></script>-->
<script>
    // 编写MVVM中的model部分以及VM(ViewModel)部分
</script>
</html>